softlogger.dtd

<!ELEMENT softlogger (name,defaultScanRate,logInterval,lookupTableFilePath,outputFilePath,server,channel*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT defaultScanRate (#PCDATA)>
<!ELEMENT logInterval (#PCDATA)>
<!ELEMENT lookupTableFilePath (#PCDATA)>
<!ELEMENT outputFilePath (#PCDATA)>

<!ELEMENT server (user,host,port?,(password|keyfile),configPoll,homeFolder)>
<!ELEMENT user (#PCDATA)>
<!ELEMENT host (#PCDATA)>
<!ELEMENT port (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT keyfile (#PCDATA)>
<!ELEMENT configPoll (#PCDATA)>
<!ELEMENT homeFolder (#PCDATA)>

<!ELEMENT channel (defaultScanRate?,logInterval?,(tcp|serial),device*)>
<!ELEMENT tcp (host,port?)>

<!ELEMENT serial (comport,baud)>
<!ELEMENT comport (#PCDATA)>
<!ELEMENT baud (#PCDATA)>

<!ELEMENT device (unitId,description?,defaultScanRate?,logInterval?,(configRegister|dataRegister)*)>
<!ELEMENT unitId (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT configRegister (fieldName,scanRate?,registerAddress,size?,value)>
<!ELEMENT fieldName (#PCDATA)>
<!ELEMENT scanRate (#PCDATA)>
<!ATTLIST scanRate sampling (accumulate|sum|average|mean) "average">
<!ELEMENT registerAddress (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ATTLIST size type (s|u|f|int|uint|float|signed|unsigned) "unsigned">
<!ELEMENT value (#PCDATA)>

<!ELEMENT dataRegister (fieldName,scanRate?,registerAddress,size?,dataFunction?,guid)>
<!ELEMENT dataFunction (#PCDATA)>
<!ATTLIST dataFunction type (expression|lookupTable|customClass) #REQUIRED>
<!ELEMENT guid (#PCDATA)>
